button{
    background-color: rgb(19, 115, 200);
    border-radius: 12px;
}

.bot{
    color: aliceblue;

}
.navi{
    display: flex;
    flex: 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
    
    
    
    

   
    
}

.main_head{
    background:whitesmoke;
    color:black;
    border-radius: 12px;
   
    
}

#about{
    min-height: 90vh;
    display: flex;
    color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body{
    background-attachment: fixed;
    background-image:url(abdo/folder/back3.gif);
    
    background-repeat:inherit;
}

a{
    color:black;
    text-decoration: none;
    font-size: 25px;
}

#work{
    background-color:whitesmoke;
    width: 400px;
    padding: 14px 110px;
    border-radius: 12px;

}

.liste{
    background-color:whitesmoke;
    width: 200px;
    margin-top: 50px;
    border-radius: 12px;

}
.resume{
    background-color:whitesmoke;
    background-position: 90px ;
    width: 440px;
    padding-left: 60px;
    border-radius: 12px;
    padding-bottom: 10px;
    
}
.music{
    margin-top: 40px;
    background-color: whitesmoke;
    margin-right: 1000px;
    border-radius: 12px;
}

#contact{
    background-color: whitesmoke;
    margin-right: 1100px;
    border-radius: 12px;
}